* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-1: "Crimson Pro", serif;
  --font-2: "Lora", serif;
  --font-3: "Montserrat", sans-serif;

  --color-grey: #828282;
}

body {
  background-color: #000;
  color: #fff;
  padding: 0 77px;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1620px;
  margin: auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 46px;
}

.site__name {
  font-family: var(--font-1);
  padding: 8px;
  font-size: 18px;
  border: 1px solid #fff;
  width: max-content;
  font-weight: 200;
  line-height: 16px;
}

.nav__toggle__btn {
  background: none;
  display: none;
  outline: none;
  border: none;
  position: relative;
  z-index: 51;
}

.nav__toggle__btn--open .nav__hamburger-menu__bar:nth-child(1) {
  transform: rotateZ(-45deg);
}
.nav__toggle__btn--open .nav__hamburger-menu__bar:nth-child(2) {
  opacity: 0;
}
.nav__toggle__btn--open .nav__hamburger-menu__bar:nth-child(3) {
  transform: rotateZ(45deg);
}

.nav__hamburger-menu__bar {
  content: "";
  width: 22px;
  height: 3px;
  margin-top: 4px;
  border-radius: 2px;
  background-color: white;
  transform-origin: 21px;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.nav__hamburger-menu__bar:nth-child(0) {
  margin-top: 0;
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav__link:not(:last-child) {
  margin-right: 86px;
}

.nav__link > a {
  font-family: var(--font-3);
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

.nav__link > a:hover {
  border-bottom: 2px solid #fff;
}

.nav__link--active > a {
  border-bottom: 2px solid #fff;
}

main {
  margin: 100px 0;
}

.hero__container {
  display: flex;
}

.hero__content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
  flex: 1;
}

.hero__title {
  font-family: var(--font-2);
  font-weight: 500;
  font-size: 48px;
}

.hero__content {
  font-family: var(--font-3);
  font-weight: 400;
  font-size: 24px;
  width: 100%;
  margin-top: 40px;
  /* max-width: 410px; */
}

.hero__links__container {
  margin-top: 50px;
}

.hero__btn {
  font-family: var(--font-3);
  font-weight: 700;
  font-size: 18px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  padding: 0;
  outline: none;
  border: none;
}

.hero__img__container {
  flex: 1.5;
}

.hero__img__wrapper {
  position: relative;
}

.hero__img {
  width: 100%;
  object-fit: contain;
}

.hero__user__card {
  font-family: var(--font-1);
  position: absolute;
  top: calc(100% - 70px);
  right: 32px;
  background-color: #000;
  padding: 20px;
}

.hero__user__info {
  display: flex;
  align-items: center;
}

.hero__user__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.hero__user__details {
  font-family: var(--font-3);
  font-weight: 500;
}

.hero__user__name {
  font-size: 14px;
}

.hero__user__title {
  font-size: 12px;
  color: var(--color-grey);
}

.hero__user__contribution {
  margin-top: 20px;
  font-family: var(--font-2);
  font-weight: 700;
  font-size: 24px;
  width: 287px;
}

footer {
  font-family: "Montserrat", "sans-serif";
  text-align: center;
  margin-top: 200px;
  padding: 24px 0;
}

footer .footer__content__link {
  color: var(--clr-black);
}

/* Breakpoint: Tablet landscape */
@media screen and (max-width: 1200px) {
  .hero__content__container {
    flex: 1;
  }

  .hero__img__container {
    flex: 1.2;
  }

  .hero__user__card {
    width: 80%;
    max-width: 400px;
  }

  .hero__user__name {
    font-size: 12px;
  }

  .hero__user__title {
    font-size: 10px;
  }

  .hero__user__contribution {
    font-size: 18px;
    width: 100%;
  }

  .hero__title {
    font-size: 36px;
  }

  .hero__content {
    font-size: 14px;
  }

  .hero__btn {
    font-size: 14px;
  }
}

/* Breakpoint: Tablet portrait */
@media only screen and (max-width: 900px) {
  body {
    padding: 0 40px;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  main {
    margin: 40px 0;
  }

  .hero__content {
    margin-top: 25px;
  }

  .hero__links__container {
    margin-top: 25px;
  }

  .hero__img__container {
    margin-top: 40px;
  }
}

/* Breakpoint: Mobile landscape */
@media only screen and (max-width: 800px) {
  .hero__container {
    flex-direction: column;
  }

  .nav__toggle__btn {
    display: block;
  }

  .nav__links {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
    top: -100vh;
    right: 0;
    padding-left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;

    transition: transform 0.4s ease-in-out;
  }

  .nav__links--open {
    transform: translateY(100%);
  }

  .nav__link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
    text-align: center;
  }

  .nav__link > a {
    font-family: var(--font-3);
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 8px;
    padding: 0;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid transparent;
  }

  .nav__link--active > a {
    border-bottom: 2px solid #fff;
  }

  .hero__content__container {
    margin-right: 0;
  }
}

/* Breakpoint: Mobile portrait */
@media only screen and (max-width: 500px) {
  body {
    padding: 0 12px;
  }

  .hero__user__card {
    right: 12px;
    background-color: #000;
    padding: 20px;
    width: 90%;
  }
}
